#hornet {
	
}
#hornet:target {
	background-color: #dedede;
}

#knightdemon {
	
}
#knightdemon:target {
	background-color: #dedede;
}

#kyouta {
	
}
#kyouta:target {
	background-color: #dedede;
}

#ladyofwicca {
	
}
#ladyofwicca:target {
	background-color: #dedede;
}

#maousadao {
	
}
#maousadao:target {
	background-color: #dedede;
}

#newshawk {
	
}
#newshawk:target {
	background-color: #dedede;
}

#onewaydevil {
	
}
#onewaydevil:target {
	background-color: #dedede;
}

#pretearhimeno {
	
}
#pretearhimeno:target {
	background-color: #dedede;
}

#sarahviola {
	
}
#sarahviola:target {
	background-color: #dedede;
}

#series5ranger {
	
}
#series5ranger:target {
	background-color: #dedede;
}

#shadycat {
	
}
#shadycat:target {
	background-color: #dedede;
}

#slowhand {
	
}
#slowhand:target {
	background-color: #dedede;
}

#spacecobrajoe {
	
}
#spacecobrajoe:target {
	background-color: #dedede;
}

#tonka {
	
}
#tonka:target {
	background-color: #dedede;
}